{% extends "template.html" %}


{% block title %} Homepage {% endblock %}


{% block content %}

<div class="container">
 	
<a href="/login" class="btn btn-primary btn-lg btn-block">Login</a>
<br>

</div>

<div class="container">

Welcome {{ request.user}}

</div>

<div class="container">      
  
    <ul>

        <li><a href="/placebet">Place a New Bet</a></li>
        <li><a href="/bets">View Ongoing bets</a></li>
        <li><a href="/account">View Account</a></li>

        <li><a href="/mybetslist">View My Bets & Submit answer</a></li>

        <li><a href="/leadershipboard">Leadership Board</a></li>
        <li><a href="/allbets">All Bets</a></li>

    </ul>


</div>


{% endblock %}