{% extends "template.html" %}


{% block title %} Place your bet here {% endblock %}


{% block content %}
<div class="container">      
  
Welcome {{ request.user}}


</div>

 <div class="container">

            <header class="">
                <h3 class="">Add Bet </h3>
                <p class="">Please follow the instructions and add all the fields correctly before submitting.</p>
            </header>




        <div class="form-group" id="registerform" >
            <div class="">
                <form id="jsonForm"   action="/addbet/" method="post">
                            {% csrf_token %}
                  
                    <div class="input-field">
                        <input class="form-control" placeholder="What is the bet ?" required id="bet_text" name="bet_text" type="text" class="validate">
                    </div>
                  
                    <br>
                    <br>
                 

                    <div class="">
                        <button type="submit" class="waves-effect btn btn-default">SUBMIT</button>
                    </div>

                </form>
        </div>

</div>




{% endblock %}