{% extends "template.html" %}


{% block title %} View Bets {% endblock %}


{% block content %}


<div class="container">      
  
  {% if all_bets %}

    <p class="alert alert-info">You can only submit once & Cannot exceed wallet amount</p> <br> <br>
    
    <ul>
    {% for bet in all_bets %}

      {% if bet.closed == False %} 
      
        <li class="list-group-item d-flex justify-content-between align-items-center"> <h3>{{ bet.bet_text }} </h3></li>

        <form id="bet-{{bet.id}}"  action="/mybet/" method="post">
                        {% csrf_token %}
                        
          <div class="input-field">
            <li class="list-group-item d-flex justify-content-between align-items-center"> 
        <input class="form-check-input" type="radio" id="{{bet.id}}_with" required id="bet_choice"  name="bet_choice" value="With-{{bet.id}}" class="">
        <label class="form-check-label" >Agree that bet will happen</label><br>
              </li>
              </div>

          <div class="input-field">
              <li class="list-group-item d-flex justify-content-between align-items-center"> 
        <input  class="form-check-input"  type="radio" id="{{bet.id}}_against" required id="bet_choice" name="bet_choice" value="Against-{{bet.id}}" class="">
        <label  class="form-check-label"  >Disagree that bet will NOT happen</label><br>
        </li>
          </div>

         <div class="input-field">
           <li class="list-group-item d-flex justify-content-between align-items-center"> 
          <input type="number" id="{{bet.id}}-value" name="bet_value" required id="bet_value"  placeholder="Place your bet value" class="" >
            </li>
          </div>

         <div class="input-field">
           <br>
         <p> Submitted by {{ bet.owner }} </p>
          </div>
     
         <br> <br>

         <div class="">
                        <button type="submit"  v-on:click = "sendregistration()" class="waves-effect btn btn-default">SUBMIT</button>
                    </div>


        </form>
    <br>
<br>
    {% endif %}
    {% endfor %}
    
    </ul>


{% else %}
    <p>No Bets are available yet.</p>
{% endif %}



</div>


 {% endblock %}