{% extends "template.html" %}


{% block title %} All Bets {% endblock %}


{% block content %}




<div class="container">      
  




      {% if bets %}
      <h3>List of Bets</h3>
                  
                 
            {% for b in bets %}

            <table class="table">
            <tr>
              <td>The Bet </td>
              <td> {{ b.bet_text }}</td>
              
            </tr>

            <tr>
              <td>Date Published </td>
              <td> {{ b.pub_date }}</td>
              
            </tr>

            <tr>
              <td>Posted by </td>
              <td > {{ b.owner }} </td>
              
            </tr>

            <tr>
              <td>What is the answer  </td>
              <td> {{ b.solution }}</td>
              
            </tr>

            <tr>
              <td>Is it closed  </td>
              <td> {{ b.closed }} </td>
              
            </tr>

              </table> 

              <br> <br>

            {% endfor %}
                   

      {% endif %}





</div>



 {% endblock %}