{% extends "template.html" %}


{% block title %} My Account {% endblock %}


{% block content %}


<div class="container">      
  
  {% if player %}


    <ul class="container">
        <h3 class="display-3"> Name: <p class="text-primary">  {{ player.name }}</p>  </h3>
         <h3 class="display-3"> Current Wallet :  <p class="text-primary">  {{ player.wallet }} </p> </h3>
    
    </ul>


      {% if bets_answer %}
      <h3>Your bets list</h3>
          {% for b in bets_answer %}
          
          <ul>
              <li class="list-group-item d-flex justify-content-between align-items-center" > The Bet --> {{ b.bet }} </li>
              <li class="list-group-item d-flex justify-content-between align-items-center" > Your choice --> {{ b.choice }} </li>
              <li class="list-group-item d-flex justify-content-between align-items-center"> Actual Solution --> {{ b.bet.solution }} </li>
              <li class="list-group-item d-flex justify-content-between align-items-center"> Bet Amount --> {{ b.value }} </li>
               <li class="list-group-item d-flex justify-content-between align-items-center"> Bet posted by --> {{ b.bet.owner }} </li>
          
          </ul>
            <br>
           {% endfor %}
      {% endif %}

  {% endif %}



</div>


 {% endblock %}